body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Roboto', sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    font-size: 1.5em;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    text-align: center;
    font-size: 3.6em;
    font-family: "Times New Roman", "Times", serif;
    font-weight: normal;
    padding-top: 70px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2 {
    text-align: center;
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    padding-top: 0px;
    padding-bottom: 100px;
    margin-top: 0px;
}

p {
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
    font-family: 'book antiqua', 'palatino', 'serif';
    text-align: justify
}

ul {
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
    font-family: 'book antiqua', 'palatino', 'serif';
    text-align: justify
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
