body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-size: 1.5em;
    font-family:'book antiqua', 'palatino', 'serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2.4em;
    font-family: Georgia, serif;
    text-align: center
    padding-top: 40px;
}

h2 {
    font-size: 1.1em;
    font-family: Copperplate, Papyrus, fantasy;
    text-align: center
    padding-bottom: 60px;
}

p {
    font-size: 1.3em;
    line-height: 1.2em;
    color: #333;
    font-family: 'book antiqua', 'palatino', 'serif';
    text-align: justify
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
