<!DOCTYPE html>

<html lang="en">
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" type="text/css" href="/css/responsive.css">
			<script src="https://kit.fontawesome.com/8e8c094ad3.js" crossorigin="anonymous"></script>
			<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
			<meta name="google-site-verification" content="msTi-kAb44xrECDngLApS583PXlpBxdNUmMQ9nvwybw" />
			<!-- Google Tag Manager -->
			<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-T4SLRWX');</script>
			<!-- End Google Tag Manager -->
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="icon" href="/docs/images/acad.png">
			<!-- Global site tag (gtag.js) - Google Analytics -->
				<script async src="https://www.googletagmanager.com/gtag/js?id=G-LS73K3C9PE"></script>
				<script>
				  window.dataLayer = window.dataLayer || [];
				  function gtag(){dataLayer.push(arguments);}
				  gtag('js', new Date());

				  gtag('config', 'G-LS73K3C9PE');
				</script>
			{% seo %}
		</head>
		
		<body>
			<!-- Google Tag Manager (noscript) -->
			<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T4SLRWX"
			height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
			<!-- End Google Tag Manager (noscript) -->
			<nav>
	    		<ul>
	        		<li><a href="/">HOME</a></li>
	        		<li><a href="/docs/pdfs/Academic Resume_Tatiana LLUENT_WF.pdf" target="_blank">CV</a></li>
            			<li><a href="/research">RESEARCH</a></li>
				<li><a href="/resources">RESOURCES</a></li>
	    		</ul>
			</nav>
			
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
		</body>	
			
		<footer>	    		
			<div class="pagebox">
				<div class="container">
					<div class="section left footnote" style="width: 100%;">
						{{ "Tatiana" | prepend: "&copy; <script>document.write(new Date().getFullYear())</script> " }}<span style="display: none;"> </span> {{ "Lluent" }}
						<br />
						
					</div>
					<div class="section right" style="width: 75%; ">
						<a href="mailto:tatiana.lluent@gmail.com" class="fa-solid fa-2xl fa-envelope" title="Email" id="icon1"></a>
						<a href="https://scholar.google.com/citations?user=0Ik-RUEAAAAJ&hl=en" class="fa-solid fa-2xl fa-graduation-cap" title="Google Scholar" id="icon2"></a>
						<a href="https://www.linkedin.com/in/tatiana-lluent/" class="fa-solid fa-2xl fa-brands fa-linkedin-in" title="Linkedin" id="icon3"></a>
					</div>
				</div>
			</div>
		</footer>			
		
</html>
