<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
			<meta name="google-site-verification" content="msTi-kAb44xrECDngLApS583PXlpBxdNUmMQ9nvwybw" />
			<meta name="viewport" content="width=device-width, initial-scale=1">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">HOME</a></li>
	        		<li><a href="{{site.baseurl}}/docs/pdfs/Academic Resume_Tatiana LLUENT_WF.pdf" target="_blank">CV</a></li>
            			<li><a href="/research">RESEARCH</a></li>
				<li><a href="/resources">RESOURCES</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:tatiana.lluent@duke.edu">email</a></li>
            			<li><a href="https://tatianalluent.github.io">tatianalluent.github.io</a></li>
			</ul>
			</footer>
		</body>
	</html>
